project:
  type: website

website:
  title: "Meu Blog de Atividades"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Sobre
    right:
      - icon: github
        href: https://github.com/AlmirJrDev
  
format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    code-fold: true
    code-tools: true